{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}

<table class="table table-striped table-bordered">
  {% for player in players %}
  <tr>
    <td>
      {% if player.photo %}
      <img class="player" src="{{asset('upload/player/'~player.photo)}}">
      {% endif %}
    </td>
    <td>{{ player.lastname }}</td>
    <td>{{ player.firstname }}</td>
    <td>
      {% if player.team %}
        {{ player.team.name }}
      {% else %}
        <p>Sans club</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<button class="btn btn-primary" id="btnTest">Test JS</button>

{% endblock %}


{% block js %}
<script
  type="text/javascript"
  src="{{asset('js/script.js')}}"></script>
{% endblock %}
